Source: sasc-ng
Section: devel
Priority: extra
Maintainer: Jan-Pascal van Best <janpascal@vanbest.org>
Standards-Version: 3.9.4
#Build-Depends: debhelper (>= 5), ${kver:BuildDepends}
Build-Depends: debhelper (>= 8)

Package: sasc-ng-common
Architecture: all
Depends: ${misc:Depends}, sasc-ng-daemon (=${binary:Version})
Description: softcam to help decode DVB streams
 sasc-ng is a versatile SoftCAM which creates virtual DVB devices 
 and outputs through them.
 . 
 This package contains common files for the sasc-ng daemon

Package: sasc-ng-3.7-trunk-amd64-sse2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${kver:Depends},
 sasc-ng-common (=${binary:Version})
Conflicts: sasc-ng-daemon
Replaces: sasc-ng-daemon
Provides: sasc-ng-daemon
Description: softcam to help decode DVB streams
 sasc-ng is a versatile SoftCAM which creates virtual DVB devices 
 and outputs through them.

